@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
}

:root {
    --ctd-blue: #2e3e5a;
    --ctd-orange: #ef6041;
    --ctd-blue-rgb: rgb(46, 62, 90);
    --ctd-orange-rgb: rgb(239, 96, 65);
}

@media screen and (max-width: 480) {
    .span_text {
        font-size: 8px;
    }
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: var(--ctd-blue);
    color: var(--ctd-orange);
    text-align: center;
    width: 100%;
    font-weight: 900;
    font-size: 2em;
    padding: 0.5em 0;
    position: relative;
}

h3 {
    font-weight: 700;
    font-size: 1.5em;
    width: 100%;
}

h5 {

}

p {
    font-size: 1.2em;
    padding: 1em;
}

div {
    margin: 1em;
    padding: 1em;
}


button {
    margin: 1em;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.flex > div {
    width: 200px;
    position: relative;
}

.flex > div:before {
    display: block;
    content: "";
    width: 2em;
    height: 2em;
    position: absolute;
    bottom: -5px;
    left: -5px;
    border-bottom: 3px solid var(--ctd-blue);
    border-left: 3px solid var(--ctd-blue);

}

h1:after, .flex > div:after {
    display: block;
    content: "";
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: -5px;
    right: -5px;
    border-top: 3px solid var(--ctd-orange);
    border-right: 3px solid var(--ctd-orange);
}

.nav {
    font-size: 1.2em;
    text-align: center;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav a {
    font-weight: 700;
    text-decoration: none;
    padding: 1em;
    border-radius: 0.2em;
    color: #000000;
}

.nav a:hover:not(a:first-child){
    background-color: var(--ctd-orange);
    color: #FFFFFF;
}
.logo {

}

.container {
    margin: 0 auto;
    width: 80%;
}

.motto {

}

.motto img {
    width: 100%;
    opacity: 0.75;
}

.motto h3 {
    transform: translateY(-3em) translateX(3em);
    letter-spacing: 0.1em;
    text-align: center;
}

.span_text {
    font-size: unset;
    margin: 0 1.2em;
    padding: 0.5em;
    border-radius: 0.4em;
}

.span_text:nth-child(even) {
    background-color: var(--ctd-blue);
    color: var(--ctd-orange);
}

.span_text:nth-child(odd) {
    background-color: var(--ctd-orange);
    color: var(--ctd-blue);
}

.intro {
    
}

.action {
    
}

.support {
   
}

.blog {
    
}

.footer {
    margin: 0;
    background-color: var(--ctd-orange);
    text-align: center;
    width: 100h;
}