
.headerBox {
  background-image: url(https://i0.wp.com/djgwebdevelopment.files.wordpress.com/2023/01/pexels-pretty-sky-background.jpg?ssl=1);
  overflow-y: hidden;
  display: grid;
  grid-template-columns:15em 1fr 45em 5em;
  grid-template-areas:
    "logo . links search";
}

.searchBox {
  display: flex;
  height: 5em;
  background-image: url(https://i0.wp.com/djgwebdevelopment.files.wordpress.com/2023/01/pexels-pretty-sky-background.jpg?ssl=1);
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

.searchForm {
  width: 40em;
}

.searchInput {
  background-color: rgb(249, 212, 212);
  appearance: none;
  border: none;
  outline: none;
  border-bottom: .2em solid #9a0c3b;
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: #453b3f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 75%;
  height: 3em;
}

.logoContainer {
  grid-area: logo;
}

.topLinks {
  grid-area: links;
  display:flex;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.361);
}

.navs {
  margin-inline: 1.2em;
  font-size: 1.1em;
  font-weight: 700;
  color: rgb(135, 41, 71);
  text-decoration: none;
  transition: color 0.2s;
}

.searchIcon {
  color: #921237;
}

.searchIcon:hover {
  color:#e18391
}

.navs:hover {
  color: #f8b0b0;
  transition: color 0.3s;
}

.donate {
  padding: 0.6em 1.2em;
  background-color: #921237;
  color: white;
  border-radius:.2em;
  transition: background-color 0.2s;
}

.donate:hover {
  background-color: #e18391;
  color: white;
  transition: background-color 0.3s;
}

.topSearch {
  grid-area: search;
  display:flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.361);
}

.logo {
  height: 2em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  overflow-y: hidden;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ccceceaa);
}





